html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.Offscreen{
  height: 100%;
  background: #141724;
  position: fixed;
  right: 0;
  /*! width: 50%; */
  transform: translate3d(100%, 0, 0);
  transition: all 600ms ease;
  top: 0;
}
.Offscreen.is-Open {
  transform: translate3d(0, 0, 0);
}
.Button {
  position: absolute;
  left: -4em;
  top: 1.5em;
  background: #ddd;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em;
  cursor: pointer;
  transition: inherit;
}
.Button:hover {
  background: #AA0044;
}
.Menu-Bar {
  display: block;
  margin-bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  height: 0.4em;
  position: absolute;
  transition: all 200ms ease;
  background: #555;
  transform-origin: 50% 50%;
  margin-top: -8px;
}
.Menu-Bar.Menu-Top {
  top: 0.7em;
}
.Menu-Bar.Menu-Middle {
  top: 1.5em;
}
.Menu-Bar.Menu-Bottom {
  top: 2.3em;
}
.Button:hover .Menu-Bar {
  background: #FFF;
}
.is-Open .Menu-Bar.Menu-Top {
  transform: rotate(45deg);
  top: 1.5em;
}
.is-Open .Menu-Bar.Menu-Middle {
  height: 0;
}
.is-Open .Menu-Bar.Menu-Bottom {
  transform: rotate(-45deg);
  top: 1.5em;
}
.Nav-List {
  padding: 4em 2em;
}
.Nav-List ul, 
.Nav-List li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.25em;
  font-weight: bold;
  padding: 1rem 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  display: block;
}
.ion7{ 
  width: 100px;
  height: 160px;
  content: "";
  display: flex;
  background-image: url(../img/m3-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 168px;
  position: absolute;
  bottom: 0;
  z-index: -2;
  transition: all 1s;
}
.ion7on{
   left: -100px !important;
}
.Nav-List a{
  color: white;
  text-decoration: none;
}
.Nav-List a:hover{
  color: #d54b4b;
}